<div class="head_txt_area">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>What we do</h2>
      </div>
    </div>
</div>
<div class="container">
    <mat-tab-group>
        <mat-tab label="FRONT-END">
          <div class="skills-set row">
            <aside class="col-sm-6 col-md-3">
                <fa-icon [icon]="faDesktop" size="3x"></fa-icon>
                <p>Perfect Design</p>
            </aside>
            <aside class="col-sm-6 col-md-3">
                <fa-icon [icon]="faMobileAlt" size="3x"></fa-icon>
                <p>Responsive</p>
            </aside>
            <aside class="col-sm-6 col-md-3">
                <fa-icon [icon]="faPencilRuler" size="3x"></fa-icon>
                <p>Pixel Perfect</p>
            </aside>
            <aside class="col-sm-6 col-md-3">
                <fa-icon [icon]="faFileCode" size="3x"></fa-icon>
                <p>HTML/CSS</p>
            </aside>
            <aside class="col-sm-6 col-md-3">
                <fa-icon [icon]="faLess" size="3x"></fa-icon>
                <p>LESS</p>
            </aside>
            <aside class="col-sm-6 col-md-3">
                <fa-icon [icon]="faSass" size="3x"></fa-icon>
                <p>SCSS/SASS</p>
            </aside>
            <aside class="col-sm-6 col-md-3">
                <fa-icon [icon]="faJs" size="3x"></fa-icon>
                <p>JavaScript</p>
            </aside>
            <aside class="col-sm-6 col-md-3">
                <fa-icon [icon]="faRandom" size="3x"></fa-icon>
                <p>PSD to HTML, Sketch</p>
            </aside>
            <aside class="col-sm-6 col-md-3">
                <fa-icon [icon]="faChartLine" size="3x"></fa-icon>
                <p>SEO</p>
            </aside>
            <aside class="col-sm-6 col-md-3">
                <fa-icon [icon]="faEnvelopeOpen" size="3x"></fa-icon>
                <p>HTML Email</p>
            </aside>
          </div>
        </mat-tab>
        <mat-tab label="BACK-END">
          <div class="skills-set row">
            <aside class="col-sm-6 col-md-3">
                <fa-icon [icon]="faEnvelopeOpen" size="3x"></fa-icon>
                <p>Web Development</p>
            </aside>
            <aside class="col-sm-6 col-md-3">
                <fa-icon [icon]="faEnvelopeOpen" size="3x"></fa-icon>
                <p>Optimisation</p>
            </aside>
            <aside class="col-sm-6 col-md-3">
                <fa-icon [icon]="faEnvelopeOpen" size="3x"></fa-icon>
                <p>Testing</p>
            </aside>
            <aside class="col-sm-6 col-md-3">
                <fa-icon [icon]="faEnvelopeOpen" size="3x"></fa-icon>
                <p>WordPress</p>
            </aside>
            <aside class="col-sm-6 col-md-3">
                <fa-icon [icon]="faEnvelopeOpen" size="3x"></fa-icon>
                <p>Themes</p>
            </aside>
            <aside class="col-sm-6 col-md-3">
                <fa-icon [icon]="faEnvelopeOpen" size="3x"></fa-icon>
                <p>Magento</p>
            </aside>
            <aside class="col-sm-6 col-md-3">
                <fa-icon [icon]="faEnvelopeOpen" size="3x"></fa-icon>
                <p>Drupal</p>
            </aside>
            <aside class="col-sm-6 col-md-3">
                <fa-icon [icon]="faEnvelopeOpen" size="3x"></fa-icon>
                <p>PHP</p>
            </aside>
            <aside class="col-sm-6 col-md-3">
                <fa-icon [icon]="faEnvelopeOpen" size="3x"></fa-icon>
                <p>.NET</p>
            </aside>
          </div>
        </mat-tab>
    </mat-tab-group>
</div>