<div class="head_txt_area">
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2>Projects</h2>
    <p class="text-center">I have put my heart, commitment and loads of work in each of these projects. <br>I am proud of all of them.</p>
    <p class="text-center"><a routerLink="new" class="btn btn-info">Add Project</a></p>
  </div>
</div>
</div>
<article class="project-list clearfix">
  <aside *ngFor="let project of projects">
    <div class="head_area">
      <p><a href="#">PSD to HTML to Wordpress</a></p>
      <h3><a href="#">{{project.name}}</a></h3>
    </div>
    <div class="img_area">
      <a href="#" routerLink="portfolio" class="overlay"></a>
      <img src="../../../assets/images/projects/achva.jpg">
    </div>
  </aside>
</article>


<!-- <article class="project-list clearfix">
    <aside>
      <div class="head_area">
        <p><a href="#">PSD to HTML to Wordpress</a></p>
        <h3><a href="#">Achva</a></h3>
      </div>
      <div class="img_area">
        <a href="#" routerLink="portfolio" class="overlay"></a>
        <img src="../../../assets/images/projects/achva.jpg">
      </div>
    </aside>
    <aside>
        <div class="head_area">
          <p>PSD to HTML to Wordpress</p>
          <h3>Achva</h3>
        </div>
        <div class="img_area">
          <div class="overlay"></div>
          <img src="../../../assets/images/projects/achva.jpg">
        </div>
      </aside>
  </article> -->