  <div class="logo">Web House</div>
  <nav class="navbar navbar-expand-lg align-self-center mt-auto mb-auto">
    <button class="navbar-toggler" type="button" appDropdown>
      <mat-icon>view_headline</mat-icon>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
      <ul class="navbar-nav mr-auto flex-column">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
          <ul>
            <li><a href="#">Service 1</a></li>
            <li><a href="#">Service 1</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li><a (click)="storeProjects()">Store Data</a> </li>
        <li><a (click)="getProjects()">Get Data</a> </li>
      </ul>
    </div>
  </nav>
  <div class="bottom_txt visible-lg">Footer text
  </div>  
