.form_sec{
    background: #fff;
    box-shadow: 0px 0px 3px #ccc;
    padding: 20px;
    margin-top: 70px;
}
.form_sec aside{
    margin-bottom:20px;
}
.form_sec p.head{
    color: #ff8e3f;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.form_sec p.head + p{
    font-size: 80%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.mat-radio-group{
    display: flex;
    flex-wrap: wrap;
}
.mat-radio-group .mat-radio-button{
    flex:0 0 100%;
}
@media (min-width:480px){
    .mat-radio-group .mat-radio-button{
        flex:0 0 50%;
    }
}
@media (min-width:768px){
    .mat-radio-group .mat-radio-button{
        flex:0 0 25%;
    }
}
@media (min-width:992px) and (max-width:1199px){
    .mat-radio-group .mat-radio-button{
        flex:0 0 50%;
    }
}

.radio-btn{
    font-size:26px;
    width: 100%;
    text-align: center;
    height: 45px;
    line-height: 45px;
}
.radio-btn span{
    background:#f5f5f5;
    display:block;
}
.radio-btn input:checked + span{
    color:#fff;
    background:#000;
}
.radio-btn input{
    display:none;
}

.btn{
    color:#fff;
    background:#ff8e3f;
}