<div class="head_txt_area">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>About</h2>
        <p class="text-center">I’m Rafal, a flexible Freelance Front-End Developer based in London with over a decade of work and experimenting in web tech both in-house and as a freelancer. I’m always ready with passion and enthusiasm in the latest technology.</p>
      </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <aside>
        <i class="fa fa-object-group fa-4x fa-fw"></i>
        <h3>Creative</h3>
        <p>I approach each project individually and I do not spare any ideas. My work continues until everyone is happy.</p>
      </aside>
    </div>
    <div class="col-md-4">
        <aside>
          <i class="fa fa-clock-o fa-4x fa-fw"></i>
          <h3>Time</h3>
          <p>I know how important dates are and how important it is for you to keep your word, so I'm always on time.</p>
        </aside>
      </div>
    <div class="col-md-4">
        <aside>
          <i class="fa fa-object-group fa-4x fa-fw"></i>
          <h3>Brave</h3>
          <p>I like challenges and do not do boring projects. I create based on the latest technology, because I always want to be one step ahead.</p>
        </aside>
      </div>

    <div class="col-md-4">
      <aside>
        <i class="fa fa-clock-o fa-4x fa-fw"></i>
        <h3>Minimalism</h3>
        <p>I put on a simple and functional design. My solutions are easy to use because they convey information rather than distracting.</p>
      </aside>
    </div>
    <div class="col-md-4">
        <aside>
          <i class="fa fa-object-group fa-4x fa-fw"></i>
          <h3>Responsible</h3>
          <p>Completing the project does not mean the end of our cooperation. I am always at your disposal. You can count on my help.</p>
        </aside>
      </div>
    <div class="col-md-4">
        <aside>
          <i class="fa fa-object-group fa-4x fa-fw"></i>
          <h3>Friendly</h3>
          <p>I'm not a big company and you will not be one of my hundreds of clients. Thanks to this I can offer an exceptional service.</p>
        </aside>
      </div>
    </div>
</div>
<div class="extra-about">
  <div class="row">
    <div class="col-lg-3">
      <p class="number">9242</p>
      <p>Layouts</p>
    </div>
    <div class="col-lg-3">
      <p class="number">1091</p>
      <p>Projects</p>
    </div>
    <div class="col-lg-3">
      <p class="number">49</p>
      <p>Clients</p>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>