<div class="head_txt_area">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h2>Contact Us</h2>
      </div>
    </div>
</div>
<div class="col-md-6 offset-md-3">
<div class="form-area">
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name*" value="" formControlName="name">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email*" value="" formControlName="email">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Phone*" value=""  formControlName="phone">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"  formControlName="msg"></textarea>
  </mat-form-field>
  <button type="submit" class="btn">Send</button>
</form>  
</div>
</div>