.short-menu{
    color: #fff;
    background: #373737;
    padding:20px;
    font-size: 14px;
    text-transform: uppercase;
}
.short-menu ul{
    list-style: none;
    padding: 0;
    margin:0;
}
.short-menu ul li{
    margin-right:10px;
    display: inline-block;
}